body{

    display: flex;
    align-items: center;
    justify-content: center;
}

#board{

    display: grid;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}
.squares{

    border: 1px solid black;
}
