body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board{

    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
    width: max-content;
    background-color: black;
    padding: 5px;
    
}

.cell{

    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid gray;
    cursor: pointer;
}


.cell:hover{

    background-color: lightgray;
}

#Ui{

    gap: 64px;
}

#shipUi {

        display: flex;
        height: auto;
        width: auto;
        /* height: max-content; */
        width: max-content;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
}

#shipInputs{

        display: flex;
        flex-direction: row;
        width: max-content;
        height: max-content;
        justify-content: center;
        align-items: center;
        gap: 34px;
}