body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board{

    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
    width: max-content;
    padding: 5px;
    
}

.cell{

    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid gray;
    cursor: pointer;
}




.highlighted{

    background-color: red;
}

#playerUI{

    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: none;

}